
<%- include('includes/header') %> 
<%- include('includes/flash') %>

<div style="display: flex;flex-wrap: wrap;">
  <div class="col-lg notVisibleOnCollapse" >
  </div>
  <div class="col-lg-9 pt-1" >
    <div style="position: relative;">
      <img class="header-banner-img"  src="/images/banner3.jpg" alt="">
      <div class="banner-details-text text-center">
        <span class="d-block">ALL DEPARTMENTS</span>
        <span class="d-block">OF</span>
        <span class="d-block" >UNIVERSITY OF NORTH BENGAL</span>
      </div>
    </div><hr>
    <div class="row">
      
      <%allDepartments.forEach((department)=>{%>
        <div class="col-lg-3 col-md-4 col-sm-6 pb-2">
          <a href="/department/<%=department.departmentCode%>/details" style="display: block; text-decoration: none;">
            <div class="department-container" style=" background-color:rgb(91, 126, 126)">
              <div class="department-title"><%=department.departmentName%></div>
            </div>
          </a>
        </div>
      <%})%>
      
    </div>

  </div>
  <div class="col-lg notVisibleOnCollapse" >
  </div>
</div>
<%- include('includes/footer') %> 