
<%- include('includes/header') %> 
<%- include('includes/flash') %>

<div style="display: flex;flex-wrap: wrap;">
  <div class="col-lg notVisibleOnCollapse" >
  </div>
  <div class="col-lg-9 pt-1" >
    <div style="position: relative;">
      <img class="header-banner-img"  src="/images/banner3.jpg" alt="">
      <div class="banner-details-text text-center">
        <span class="d-block"><a style="color:#fff;" href="/session-batch/<%=classDetails.classId.slice(0,9)%>/details">BATCH : 20<%=classDetails.classId.slice(0,2)%>-20<%=classDetails.classId.slice(2,4)%> </a></span>
        <span class="d-block">SEMESTER : <%=classDetails.semesterStatus%></span>
        <span class="d-block"><a style="color:#fff;" href="/department/<%=classDetails.departmentCode%>/details">DEPARTMENT OF <%=classDetails.departmentName%></a></span>
      </div>
    </div>
    <hr>
      <div class="row">
        <div class="col-lg-7">
          <div class="item-container mb-2">
            <div >
              <strong ><i class="fas fa-user-tie"></i> Class Details</strong>
            </div>
            <hr>
            <div class="class-teacher-title ">
              <img class="class-teacher-image" src="/image/<%=classDetails.professor.regNumber%>" alt="">
              <hr>
              <p><strong>Professor : <%=classDetails.professor.userName%></strong> </p>
              <p>Subject : <%=classDetails.subject%></p>
              <p>Timing : <%=classDetails.timing%></p>
              <p>Class Date : <%= classDetails.classDate.getDate() %> <%=classDetails.classDate.toLocaleString('default', { month: 'short' }) %> , <%= classDetails.classDate.getFullYear() %> at <%=classDetails.classDate.getHours()%>:<%=classDetails.classDate.getMinutes()%></p>
            </div>
          </div>
        </div>
        <div class="col-lg-5">
          <div class="item-container">
            <div >
              <strong ><i class="fas fa-users"></i> Attended Students (<%=classDetails.presentStudents.length%>)</strong>
            </div>
            <hr>
            <%if(!classDetails.presentStudents.length){%>
              <div class="btn btn-block btn-info">No student attended!!</div>
            <%}else{%>
              <%classDetails.presentStudents.forEach((student)=>{%>
                <li class="outerBGcolor list-group-item  d-flex align-items-center">
                  <div class="mr-auto d-flex align-items-center"> 
                    <div class="mr-2">
                        <img class="member-avatar"  src="/image/<%=student.regNumber%>" alt="">
                    </div>
                    <div>
                        <span class="item-text d-block"><strong>Name : </strong><%=student.userName%></span>
                    </div>
                  </div>
                </li>
              <%})%>
            <%}%>
            
          </div>
        </div>
      </div>
      <hr>
      <div class="colored-container  bolder">
        <div >
          <strong><i class="fas fa-user-tie"></i> Identity</strong>
        </div>
        <hr>
        <div class="row">
          <div class="col-lg-6">
            <p><strong>Batch Session : 20<%=classDetails.classId.slice(0,2)%>-20<%=classDetails.classId.slice(2,4)%></strong></p>
            <p><strong>Semester : <%=classDetails.semesterStatus%></strong></p>
          </div>
          <div class="col-lg-6">
            <p><strong>Department Name: <%=classDetails.departmentName%></strong></p>
            <p><strong>Department Code : <%=classDetails.departmentCode%></strong></p>
          </div>
          <div class="col-12">
            <a href="/session-batch/<%=classDetails.classId.slice(0,9)%>/details">
              <div class=" btn btn-md btn-block btn-warning"><strong>Go to the batch</strong> </div>
            </a>
          </div>
        </div>
      </div>
  </div>
  <div class="col-lg notVisibleOnCollapse" >
  </div>
</div>


<%- include('includes/footer') %>


