
<%- include('includes/header') %> 
<%- include('includes/flash') %>

<div style="display: flex;flex-wrap: wrap;">
  <div class="col-lg"></div>
  <div class="col-lg-7">

    <h5 class="bolder text-primary pt-1 text-center"><strong>Class Attendence Taking</strong></h5>
    <div class="single-batch-container">
      <div class="single-batch-data pb-4">
        <div style="position: relative;">
          
          <div class="text-success text-center"><strong>Department Name : <%=batchDetails.departmentName%></strong></div>
          <div class="text-success text-center"><strong>Semester : <i><%=batchDetails.semesterStatus%></i></strong></div>
          <hr>
          <div class="text-success text-center"><strong>Subject Name : <%=classData.subject%></strong></div>
          <div class="text-success text-center"><strong>Class Timing : <%=classData.timing%></strong></div>
          <div class="text-success text-center"><strong>Professor : <i><%=classData.professor.userName%></i></strong></div>
          <div class="text-success text-center"><strong>Period Number : <i><%=classData.period%></i></strong></div>
        
        </div>
        <hr>
        <div>
          
          <%if(takenClassesIds.includes(classData.classId)){%>
            <div class="btn btn-lg btn-block btn-success">Class attendence has been taken successfully</div>
            <hr>
            <a href="/class/<%=classData.classId%>/details">
              <div class="btn btn-sm btn-info btn-block">Go to class attendence details-></div>
            </a>
          <%}else{%>
            <h4 class="text-center "><strong>All Class Students (<%=batchDetails.allPresentStudents.length%>)</strong> </h4>
            <ul id="allPresentStudents" class="list-group pb-2">
            </ul>
            <form id="addStudentsOnAttendenceList" class="card" action="/class/<%=classData.classId%>/submit-attendence" method="POST">
              <h4 class="text-center "><strong>Attendence List :</strong> </h4>
              <ul id="addedStudents" class="list-group ">
              </ul>
              <input hidden type="text" id="selectedStudents" name="selectedStudents">
              <button id="submitAttendenceListButton" class="btn btn-primary">Submit Attendence</button>
            </form>
          <%}%>
        </div>

      </div>
    </div>

  </div>
  <div class="col-lg"></div>
</div>
<script>
  let allStudents = <%-JSON.stringify(batchDetails.allPresentStudents)%>
</script>
<script src="/classAttendenceList.js"></script>

<%- include('includes/footer') %>


