<%- include('includes/header') %>
<%- include('includes/flash') %>
<div style="display: flex;flex-wrap: wrap;">
  <div class="col-lg notVisibleOnCollapse" >
  </div>
  <div class="col-lg-9 pt-1" >
    <%if(user){%>
      <%if(user.isHOD){%>
        <%- include('includes/sections/hod-department-handle-panel') %>
      <%}%>
    <%}%>
    <div style="position: relative;">
      <img class="header-banner-img"  src="/images/banner3.jpg" alt="">
      <div class="banner-details-text text-center">
        <span class="d-block">DEPARTMENT </span>
        <span class="d-block">Of</span>
        <span class="d-block"><%=departmentDetails.departmentName%></span>
      </div>
      <%if(departmentDetails.isDepartmentRunning){%>
        <div class="openCloseTag">
          <span style="color:#fff;" class="badge-pill badge-warning">Running</span>
        </div>
      <%}else{%>
        <div class="openCloseTag">
          <span class="badge-pill badge-secondary">Closed</span>
        </div>
      <%}%>
      
      <%if(!user){%>
        <div class="logInBtn">
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Log In 
            </button>
            <div class="dropdown-menu p-1" aria-labelledby="dropdownMenuButton">
              <p class=" btn-info btn-block btn-sm" data-toggle="modal" data-target="#studentLogIn" >Student</p>
              <p class=" btn-info btn-block btn-sm " data-toggle="modal" data-target="#officialAssistantLogIn" >Official Assistant</p>
            </div>
          </div>
        </div>
      <%}%>
    </div>
    <hr style="margin-bottom: 0.4rem">
    <div class="d-flex justify-content-center">
      <%if(departmentDetails.runningSessionBatches.length){%>
        <%departmentDetails.runningSessionBatches.forEach((batch)=>{%>
          <a href="/session-batch/<%=batch.sessionId%>/details"><span class="button"><%=batch.semesterStatus%> Semester</span></a>
        <%})%>
      <%}else{%>
        <span class="button">No Batch Added</span>
      <%}%>
    </div>
    <hr style="margin-top: 0.4rem">
      <div class="row">
        <div class="col-lg-7">
          <div class="item-container mb-2">
            <div >
              <%if(departmentDetails.isDepartmentRunning){%>
                <strong ><i class="fas fa-user-tie"></i> Today's Attendence Details</strong>
              <%}else{%>
                <strong ><i class="fas fa-user-tie"></i> Last Day's Attendence Details</strong>
              <%}%>
            </div>
            <hr>
            <div class="p-4 bolder text-success text-center">
              <h2><strong>Students : <%=attendanceData.presentStudents%></strong></h2>
              <h2><strong>Professors : <%=attendanceData.presentProfessors%>%</strong></h2>
              <h2><strong>Date : <%= attendanceData.date.getDate() %> <%=attendanceData.date.toLocaleString('default', { month: 'long' }) %> , <%= attendanceData.date.getFullYear() %></strong></h2>
            </div>
          </div>
          <hr>
          <div class="item-container mb-2">
            <div >
              <%if(departmentDetails.isDepartmentRunning){%>
                <strong ><i class="fas fa-book"></i> Today's Taken Classes</strong>
              <%}else{%>
                <strong ><i class="fas fa-book"></i> Last Day's Taken Classes</strong>
              <%}%>
            </div>
            <hr>
            <div class="teacher-banner-container">
              <%if(departmentDetails.isDepartmentRunning){%>
                <%if(!departmentDetails.presentDayActivities.classes.length){%>
                  <div class="btn btn-lg btn-block btn-info">No classes taken till now.</div>
                <%}else{%>
                  <%departmentDetails.presentDayActivities.classes.forEach((cls)=>{%>
                    <div class="activity-link-container-small border ">
                      <div class="item-container">
                        <span class=" d-block bolder text-warning text-center"><strong><%=cls.subject%></strong></span>
                      </div>
                      <div class="class-text-container p-c-m-b-55 bolder">
                        <p ><strong> Period : <%=cls.period%></strong></p>
                        <p ><strong> Semester : <%=cls.semesterStatus%></strong></p>
                        <p ><strong> Timing : <%=cls.timing%></strong></p>
                        <p style="margin-bottom:.4rem;"><strong> Professor : <%=cls.professor.userName%></strong></p>
                        <%if(user){%>
                          <div class="m-2">
                            <a href="/class/<%=cls.classId%>/details">
                              <div class="btn btn-outline-success btn-sm btn-block">Go to class details</div>
                            </a>
                          </div>
                        <%}else{%>
                          <div class="m-2">
                            <div class="btn btn-outline-secondary btn-sm btn-block">Log-in to see details</div>
                          </div>
                        <%}%>
                      </div>
                    </div>
                  <%})%>
                <%}%> 
              <%}else{%>
                <%if(!departmentDetails.lastDayActivities.classes.length){%>
                  <div class="btn btn-lg btn-block btn-info">No classes had been taken!!</div>
                <%}else{%>
                  <%departmentDetails.lastDayActivities.classes.forEach((cls)=>{%>
                    <div class="activity-link-container-small border ">
                      <div class="item-container">
                        <span class=" d-block bolder text-warning text-center"><strong><%=cls.subject%></strong></span>
                      </div>
                      <div class="class-text-container p-c-m-b-55 bolder">
                        <p ><strong> Period : <%=cls.period%></strong></p>
                        <p ><strong> Semester : <%=cls.semesterStatus%></strong></p>
                        <p ><strong> Timing : <%=cls.timing%></strong></p>
                        <p style="margin-bottom:.4rem;"><strong> Professor : <%=cls.professor.userName%></strong></p>
                        <%if(user){%>
                          <div class="m-2">
                            <a href="/class/<%=cls.classId%>/details">
                              <div class="btn btn-outline-success btn-sm btn-block">Go to class details</div>
                            </a>
                          </div>
                        <%}else{%>
                          <div class="m-2">
                            <div class="btn btn-outline-secondary btn-sm btn-block">Log-in to see details</div>
                          </div>
                        <%}%>
                      </div>
                    </div>
                  <%})%>
                <%}%> 
              <%}%>
            </div>
          </div>
        </div>

        <div class="col-lg-5 ">
          <div class="item-container">
            <div >
              <strong ><i class="fas fa-user-tie"></i> Head of the Department</strong>
            </div>
            <hr>
            <%if(!departmentDetails.HOD.userName){%>
              <div class="btn btn-lg btn-info btn-block">HOD has not added!!</div>
            <%}else{%>
              <li class="outerBGcolor list-group-item  d-flex align-items-center">
                <div class="mr-auto d-flex align-items-center"> 
                  <div class="mr-2">
                      <img class="member-avatar"  src="/image/<%=departmentDetails.HOD.regNumber%>" alt="">
                  </div>
                  <div>
                      <span class="item-text d-block"><strong>Name : </strong><%=departmentDetails.HOD.userName%></span>
                      <span class="item-text d-block"><strong>Joined as HOD on : </strong>12/04/2023</span>
                  </div>
                </div>
                <%if(departmentDetails.isDepartmentRunning && user){%>
                  <%if(presentProfessorsRegs.includes(departmentDetails.HOD.regNumber)){%>
                    <div class="badge-pill badge-success">Present</div>
                  <%}else{%>
                    <div class="badge-pill badge-secondary">Absent</div>
                  <%}%>
                  
                <%}%>
              </li>
            <%}%>
          <hr>
            <div >
              <strong ><i class="fas fa-users"></i> All Professors (<%=departmentDetails.allProfessors.length%>)</strong>
            </div>
            <hr>
            <%if(departmentDetails.allProfessors.length==0){%>
              <div class="btn btn-lg btn-info btn-block">No professor added!!</div>
            <%}else{%>
              <div class="container-scroll" style="max-height: 20.5rem;overflow: scroll;">
              <%departmentDetails.allProfessors.forEach((professor)=>{%>
                <li class="outerBGcolor list-group-item  d-flex align-items-center">
                  <div class="mr-auto d-flex align-items-center"> 
                    <div class="mr-2">
                        <img class="member-avatar"  src="/image/<%=professor.regNumber%>" alt="">
                    </div>
                    <div>
                        <span class="item-text d-block"><strong>Name : </strong><%=professor.userName%></span>
                    </div>
                  </div>
                  <%if(departmentDetails.isDepartmentRunning && user){%>
                    <%if(presentProfessorsRegs.includes(professor.regNumber)){%>
                      <div class="badge-pill badge-success">Present</div>
                    <%}else{%>
                      <div class="badge-pill badge-secondary">Absent</div>
                    <%}%>
                  <%}%>
                </li>
              <%})%>
            </div>
            <%}%>  
          
          </div>
        </div>
      </div>
      <hr>
      <div class="colored-container  bolder">
        <div >
          <strong><i class="fas fa-user-tie"></i> Identity</strong>
        </div>
        <hr>
        <div class="row">
          <div class="col-lg-6">
            <p><strong>Department Name : <%=departmentDetails.departmentName%></strong></p>
            <p><strong>Department Code : <%=departmentDetails.departmentCode%></strong></p>
            <hr>
            <p><strong>Department Official Assistant : </strong></p>
            <%if(departmentDetails.departmentOfficial){%>
              <p><strong>Name : <%=departmentDetails.departmentOfficial.userName%></strong></p>
            <%}else{%>
              <p><strong>Name : (not added)</strong></p>
            <%}%>
            
          </div>
          <div class="col-lg-6">
            <div class="item-container mb-2">
              <div >
                <strong class="bolder"><i class="fas fa-user-tie"></i> All X-Batches</strong>
              </div>
              <hr>
              <div class="teacher-banner-container bolder text-center">
                <%if(departmentDetails.XSessionBatches.length){%>
                  <%departmentDetails.XSessionBatches.forEach((batch)=>{%>
                    <a href="/batch/<%=batch.sessionId%>/details">
                      <div class="activity-link-container-small">
                        <div class="item-container border m-2">
                          Session : 20<%=batch.sessionId.slice(2,4)%>-20<%=batch.sessionId.slice(7,9)%>
                        </div>
                      </div>
                    </a>
                  <%})%>
                <%}else{%>
                  <div class="btn btn-secondary btn-block btn-lg">No X-Batches Available!</div>
                <%}%>
                
                
              </div>
            </div>
          </div>
          <%if(user){%>
            <div class="col-12">
              <a href="/department/<%=departmentDetails.departmentCode%>/activity-details">
                <div class=" btn btn-md btn-block btn-warning"><strong>See All Activity Details</strong> </div>
              </a>
            </div>
          <%}%>
        </div>
        
      </div>
  </div>
  <div class="col-lg notVisibleOnCollapse" >
  </div>
</div>
<!-- Modal Student log in-->
<div class="modal fade" id="studentLogIn" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle"><strong class="bolder">Student Log In</strong> </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <form action="/student-logging-in" method="POST" class="">
              <label for="regNumber" class="text-muted mb-1"><small>Registration Number</small></label>
              <input name="regNumber" class="form-control form-control-lg space" type="text" placeholder="Registration Number :" autocomplete="off">
              <label for="password" class="text-muted mb-1"><small>Password</small></label>
              <input name="password" class="form-control form-control-lg space" type="date" placeholder="Password :(Your DOB)" required>
              <input type="hidden" name="departmentCode" value="<%=departmentDetails.departmentCode%>">
              <button class="btn btn-info btn-block btn-lg">Log in</button>
          </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!-- ----------model ends------- -->
<!-- Modal assistant log in-->
<div class="modal fade" id="officialAssistantLogIn" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle"><strong class="bolder">Official Assistant Log In</strong> </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <form action="/official-assistant-logging-in" method="POST" class="">
              <label for="password" class="text-muted mb-1"><small>Email-Id </small></label>
              <input name="email" class="form-control form-control-lg space" type="email" placeholder="Email Id:" autocomplete="off">
              <label for="password" class="text-muted mb-1"><small>Password </small></label>
              <input name="password" class="form-control form-control-lg space" type="password" placeholder="Password :" required>
              <input type="hidden" name="departmentCode" value="<%=departmentDetails.departmentCode%>">
              <button class="btn btn-info btn-block btn-lg">Log in</button>
          </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!-- ----------model ends------- -->

<%- include('includes/footer') %>