<%- include('includes/header') %>
<%- include('includes/flash') %>

<div style="display: flex;flex-wrap: wrap;">
    <div class="col-lg notVisibleOnCollapse">
    </div>
    <div class="col-lg-9 pt-1">
      <div style="position: relative;">
        <img class="header-banner-img" style="height:120px;"  src="/images/banner3.jpg" alt="">
        <div class="banner-details-text text-center">
          <span class="d-block">NBU ONLINE ATTENDANCE SYSTEM </span>
        </div>
        <%if(attendanceData.isCampusOpen){%>
          <div class="openCloseTag">
            <span style="color:#fff;" class="badge-pill badge-warning">Running</span>
          </div>
        <%}else{%>
          <div class="openCloseTag">
            <span class="badge-pill badge-secondary">Closed</span>
          </div>
        <%}%>
      </div>
      <hr>
        <div class="row">
          <div class="col-lg-7">
            <div class="item-container mb-2">
              <div >
                <strong ><i class="fas fa-user-tie"></i><%=attendanceData.isCampusOpen?"Today's":"Last Day's"%> Attendance Details</strong>
              </div>
              <hr>
              <div class="p-3 bolder text-success text-center">
                <h2><strong>Students : <%=attendanceData.presentStudents%>%</strong></h2>
                <h2><strong>Professors : <%=attendanceData.presentProfessors%>%</strong></h2>
                <h2><strong>Date : <%= attendanceData.date.getDate() %> <%=attendanceData.date.toLocaleString('default', { month: 'long' }) %> , <%= attendanceData.date.getFullYear() %></strong></h2>
              </div>
            </div>
            <hr>
            <div class="item-container mb-2">
              <div >
                <strong ><i class="fas fa-user-tie"></i> All Members</strong>
              </div>
              <hr>
              <div class="p-3 bolder text-success text-center">
                <h2><strong>Total Students : <%=attendanceData.totalStudents%></strong></h2>
                <h2><strong>Total Professors : <%=attendanceData.totalProfessors%></strong></h2>
              </div>
            </div>
          </div>
  
          <div class="col-lg-5 ">
            <div class="item-container">
              <div >
                <strong ><i class="fas fa-user-tie"></i> Batches with 100% attendance</strong>
              </div>
              <hr>
              <div class="container-scroll" style="max-height: 25.5rem;overflow: scroll;">
                <%if(!attendanceData.fullAttendanceBatches.length){%>
                  <div class="btn btn-info btn-block btn-md">No Batche With 100% Attendance!!</div>
                <%}else{%>
                  <%attendanceData.fullAttendanceBatches.forEach((batch)=>{%>
                    <a href="/session-batch/<%=batch.sessionId%>/details">
                      <div class=" border bg-secondary mb-1">
                        <div class="text-center bolder text-warning">
                          <span class=" d-block "><strong>Department of <%=batch.departmentName%></strong></span>
                          <span class=" d-block "><strong>Semester : <%=batch.semesterStatus%></strong></span>
                        </div>
                      </div>
                    </a>
                  <%})%>
                <%}%>
              </div>
            </div>
        
          </div>
        </div>
        <hr>
        <div class="colored-container  bolder">
          <div class="row">
            <div class="col-12">
              <a href="/all-departments">
                <div class=" btn btn-md btn-block btn-warning"><strong>See All Departments</strong> </div>
              </a>
            </div>
          </div>
        </div>
    </div>
    <div class="col-lg notVisibleOnCollapse" >
    </div>
  </div>

<%- include('includes/footer') %>