<%- include('includes/header') %>
<%- include('includes/flash') %>
<div style="display: flex;flex-wrap: wrap;">
    <div class="col-lg notVisibleOnCollapse" >
    </div>
    <div class="col-lg-9 pt-1" >
        <div class="">
            <div style="width: 100%;position: relative;">
                <img class="home-cover-image" src="/images/banner.jpg"/>
            <div>
            <div style="position: relative;display: inline;">
                <img class="home-profile-image" src="/image/<%=user.regNumber%>" />  
            </div>
                <div>
                    <h5 class="bolder text-secondary text-capetalize d-inline">
                      <strong><%=user.userName%></strong></h5>
                    <h5 class="bolder d-inline float-right">
                      <i class="fas fa-user"></i> Professor
                    </h5>
                </div> 
                <hr>
                <div class="item-container bg-info">
                  <div >
                    <strong><i class="fas fa-book"></i> Session Year "<%=activityInfo.presentSessionYear%>" Activity Details</strong>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-lg-6">
                      <p><strong>Your Working Days : <%=activityInfo.allClasses.length%>/<%=activityInfo.totalActiveDays%> </strong></p>   
                      <p><strong>Total Departmental Classses : <%=activityInfo.totalDepartmentalClasses%></strong></p>             
                    </div>
                    <div class="col-lg-6">
                      <p><strong>Classes Taken by You: <%=activityInfo.classesTaken%></strong></p>   
                      <p><strong>Your Class Contribution : <%=(activityInfo.classesTaken*100)/activityInfo.totalDepartmentalClasses%> %</strong></p>             
                    </div>
                  </div>
                </div> 
                <hr> 
                
                <div class="item-container">
                  <div >
                    <strong><i class="fas fa-book"></i>  Session Year "<%=activityInfo.presentSessionYear%>" All Classes</strong>
                  </div>
                  <hr>
                  <table class="table table-bordered table-hover">
                    <thead>
                      <tr class="text-center bolder">
                        <th scope="col"><strong>Date</strong> </th>
                        <th scope="col"><strong>Classes</strong> </th>
                      </tr>
                    </thead>
                    <tbody>
                      <!-- start -->
                    <%if(activityInfo.allClasses.length){%>
                      <%activityInfo.allClasses.forEach((cls)=>{%>
                        <tr>
                          <th scope="row">
                            <div>
                              <%= cls.date.getDate() %>/<%= cls.date.getMonth() + 1 %>/<%= cls.date.getFullYear() %>
                            </div>
                            <div>
                              <%=activityInfo.days[cls.date.getDay()]%>
                            </div>
                          </th>
                          <td>
                            <%if(cls.classes.length){%>
                              <%cls.classes.forEach((classDetails)=>{%>
                                <div class="colored-activity-container mb-1 ">
                                  <div class="row">
                                    <div class="col-lg-6">
                                      <p><strong>Subject : <%=classDetails.subject%></strong></p>   
                                      <p><strong>Timing : <%=classDetails.timing%></strong></p>               
                                    </div>
                                    <div class="col-lg-6">
                                      <p><strong>Semester : <%=classDetails.semesterStatus%></strong></p>
                                      <a href="/class/<%=classDetails.classId%>/details">
                                        <p class="text-warning"><strong>Go to the class details</strong></p>
                                      </a>
                                    </div>
                                  </div>
                                </div>
                              <%})%>
                            <%}else{%>
                              <div class="btn btn-lg btn-block btn-info">No classes taken!!</div>
                            <%}%>
                        
                          </td>
                        </tr>
                      <%})%>
                      <!-- end -->
                    <%}else{%>
                      <div class="btn btn-lg btn-block btn-info">No Activity recorded on this session!!</div>    
                    <%}%>
                      
                    </tbody>
                  </table>
                </div>

                </div>
            </div> 
          </div>    
      </div>
      <div class="col-lg notVisibleOnCollapse" >
      </div>
  </div>
<%- include('includes/footer') %>