<%- include('includes/header') %>
<%- include('includes/flash') %>

<div style="display: flex;flex-wrap: wrap;">
    <div class="col-lg notVisibleOnCollapse" >
    </div>
    <div class="col-lg-9 pt-1" >
        <div class="">
            <div style="width: 100%;position: relative;">
                <img class="home-cover-image" src="/images/banner6.jpg"/>
            <div>
            <div style="position: relative;display: inline;">
                <img class="home-profile-image" src="/image/<%=user.regNumber%>" />
                <div style="position: absolute;right: 7px;top: -25px;">
                    <h5 type="button" class="text-info" data-toggle="modal" data-target="#profilePicUploadCenter"><i class="fas fa-camera-retro"></i></h5>
                    <!-- Modal -->
                    <div class="modal fade" id="profilePicUploadCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                      <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle">Upload Profile Picture</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body">
                            <form action="/profile-photo-upload" method="post" enctype="multipart/form-data">
                              <div class="form-group text-left">
                                <label class="form-label" for="customFile">Choose Profile Photo (jpeg/png)</label>
                                <input type="file" name="image" class="form-control" id="customFile" />
                              </div>
                              <div style="text-align: left;">
                                <button class="btn btn-success btn-sm ">Upload</button>
                              </div>
                            </form>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- ----------model ends------- -->
                  </div>
                </div>
                <div>
                    <h5 class="bolder text-secondary text-capetalize d-inline">
                      <strong><%=user.userName%></strong></h5>
                    <h5 class="bolder d-inline float-right">
                      <i class="fas fa-user"></i> Professor
                    </h5>
                </div> 
                <hr> 
                <%if(user.isHOD){%>
                  <div class="colored-container  bg-warning">
                    <div>
                      <h5><strong ><i class="fas fa-users"></i> You are the HOD of the <%=professorData.departmentName%> department</strong></h5>
                    </div>
                    <hr>
                    <div class="row">
                      <div class="col-12">
                        <a href="/department/<%=user.regNumber.slice(4,9)%>/details">
                          <div class="btn btn-block btn-md btn-info">Go to Handle Department</div>
                        </a>
                      </div>
                    </div>
                  </div>
                <%}else{%>
                  <div class="colored-container  bolder">
                    <div class="row">
                      <div class="col-12">
                        <a href="/department/<%=user.regNumber.slice(4,9)%>/details">
                          <div class="btn btn-block btn-md btn-info">Go to Department</div>
                        </a>
                      </div>
                    </div>
                  </div>
                <%}%>
                
                <hr>
                <div class="item-container">
                  <div >
                    <strong><i class="fas fa-book"></i> Today's Classes</strong>
                  </div>
                  <hr>
                  <div class="d-flex ">
                    <%if(!todaysClasses.length){%>
                      <div class="btn btn-block btn-info btn-lg">You have no class today!</div>
                    <%}else{%>
                        <%todaysClasses.forEach((todayClass)=>{%>
                          <div class="col-lg-4 col-md-6 col-sm-12 pb-2 align-items-center">
                            <div class="activity-link-container-small border ">
                              <div class="item-container">
                                <span class=" d-block bolder text-warning text-center"><strong><%=todayClass.subject%></strong></span>
                              </div>
                                <div class="class-text-container bolder">
                                  <p ><strong> Period : <%=todayClass.period%></strong></p>
                                  <p ><strong> Semester : <%=todayClass.semesterStatus%> </strong></p>
                                  <p style="margin-bottom:.4rem;"><strong>Timing : <%=todayClass.timing%></strong></p>
                                  <%if(neededData.isDepartmentRunning){%>
                                    <%if(neededData.isProfessorPresent){%>
                                      <%if(neededData.takenClasses.includes(todayClass.classId)){%>
                                        <div class="m-2">
                                          <a href="/class/<%=todayClass.classId%>/details">
                                            <div class="btn btn-outline-success btn-sm btn-block">See Class Details</div>
                                          </a>
                                        </div>
                                      <%}else{%>
                                        <div class="m-2">
                                          <a href="/class/<%=todayClass.classId%>/take-attendence">
                                            <div class="btn btn-outline-secondary btn-sm btn-block">Take Attendence</div>
                                          </a>
                                        </div>
                                      <%}%>
                                    <%}else{%>
                                      <div class="m-2">
                                        <div class="btn btn-outline-danger btn-sm btn-block">You Are Absent</div>
                                      </div>
                                    <%}%>
                                  <%}else{%>
                                    <div class="m-2">
                                      <div class="btn btn-outline-danger btn-sm btn-block">Departent has not opened!!</div>
                                    </div>
                                  <%}%>
                                </div>
                            </div>
                          </div>
                        <%})%>
                    <%}%>
                    
                    <!-- <a href="/class//details" style="text-decoration: none;">
                      <div class="activity-link-container-small border m-2">
                        <div class="item-container">
                          <span class=" d-block bolder text-warning text-center"><strong>Data Structure and Algorithm</strong></span>
                        </div>
                        <div class="class-text-container bolder">
                          <p ><strong> Period : 2nd</strong></p>
                          <p ><strong> Semester : 1st </strong></p>
                          <p style="margin-bottom:.4rem;"><strong>Timing : 12:00pm-02:00pm</strong></p>
                          <div class="m-2">
                            <div class="btn btn-outline-secondary btn-sm btn-block">Take Attendence</div>
                          </div>
                        </div>
                      </div>
                    </a> -->

                  </div>
                </div>
                <hr>
                <div class="colored-container  bolder">
                  <div >
                    <strong ><i class="fas fa-user-tie"></i> Identity</strong>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-lg-6">
                      <p><strong>Name : <%=professorData.userName%></strong></p>
                      <p><strong>Department : <%=professorData.departmentName%></strong></p>
                    </div>
                    <div class="col-lg-6">
                      <p><strong>Joining Date : <%= professorData.joiningDate.getDate() %>/<%= professorData.joiningDate.getMonth() + 1 %>/<%= professorData.joiningDate.getFullYear() %></strong></p>
                      <p><strong>Email Id : <%=professorData.email%></strong></p>
                    </div>
                    <div class="col-12">
                      <a href="/professor/<%=user.regNumber%>/activity-details">
                        <div class=" btn btn-md btn-block btn-warning"><strong>See All Activity Details</strong> </div>
                      </a> 
                    </div>
                  </div>
                  
                </div>
                </div>
            </div> 
          </div>    
      </div>
      <div class="col-lg notVisibleOnCollapse" >
      </div>
  </div>
 

<%- include('includes/footer') %>