<%- include('includes/header') %>
<%- include('includes/flash') %>


<div style="display: flex;flex-wrap: wrap;">
  <div class="col-lg notVisibleOnCollapse" >
  </div>
  <div class="col-lg-9 pt-1" >
    <%if(user){%>
      <%if(user.isHOD){%>
        <%- include('includes/sections/hod-batch-handle-panel') %>
      <%}%>
    <%}%>
    <div style="position: relative;">
      <img class="header-banner-img"  src="/images/banner3.jpg" alt="">
      <div class="banner-details-text text-center">
        <span class="d-block">BATCH : <%=batchDetails.sessionYear%> </span>
        <span class="d-block">SEMESTER : <%=batchDetails.semesterStatus%></span>
        <span class="d-block"><a style="color:#fff;" href="/department/<%=batchDetails.departmentCode%>/details"> DEPARTMENT OF <%=batchDetails.departmentName%> </a></span>
      </div>
      <%if(batchDetails.isBatchRunning){%>
        <div class="openCloseTag">
          <span style="color:#fff;" class="badge-pill badge-warning">Running</span>
        </div>
      <%}else{%>
        <div class="openCloseTag">
          <span class="badge-pill badge-secondary">Closed</span>
        </div>
      <%}%>
    </div>

    <hr style="margin-bottom: 0.4rem">
    <div class="d-flex justify-content-center">
      <a href="/department/<%= batchDetails.departmentCode%>/details"><span class="button">Go to Department</span></a>
    </div>
    <hr style="margin-top: 0.4rem">
      <div class="row">
        <div class="col-lg-7">
          <div class="item-container mb-2">
            <div >
              <%if(batchDetails.isBatchRunning){%>
                <strong ><i class="fas fa-user-tie"></i> Today's Attendence Details</strong>
              <%}else{%>
                <strong ><i class="fas fa-user-tie"></i> Last Day's Attendence Details</strong>
              <%}%>
            </div>
            <hr>
            <div class="p-4 bolder text-success text-center">
              <h2><strong>Students : <%=attendanceData.presentStudents%>%</strong></h2>
              <h2><strong>Date : <%= attendanceData.date.getDate() %> <%=attendanceData.date.toLocaleString('default', { month: 'long' }) %> , <%= attendanceData.date.getFullYear() %></strong></h2>
            </div>
          </div>
          <hr>
          <div class="item-container">
            <div >
              <%if(batchDetails.isBatchRunning){%>
                <strong ><i class="fas fa-book"></i> Today's Taken Classes</strong>
              <%}else{%>
                <strong ><i class="fas fa-book"></i> Last Day's Taken Classes</strong>
              <%}%>
            </div>
            <hr>
              <div class="teacher-banner-container">
                <%if(batchDetails.isBatchRunning){%>
                  <%if(!batchDetails.presentDayActivities.classes.length){%>
                    <div class="btn btn-lg btn-block btn-info">No classes taken till now.</div>
                  <%}else{%>
                    <%batchDetails.presentDayActivities.classes.forEach((cls)=>{%>
                      <div class="activity-link-container-small border ">
                        <div class="item-container">
                          <span class=" d-block bolder text-warning text-center"><strong><%=cls.subject%></strong></span>
                        </div>
                        <div class="class-text-container bolder">
                          <p ><strong> Period : <%=cls.period%></strong></p>
                          <p ><strong> Timing : <%=cls.timing%></strong></p>
                          <p style="margin-bottom:.4rem;"><strong> Professor : <%=cls.professor.userName%></strong></p>
                          <%if(user){%>
                            <div class="m-2">
                              <a href="/class/<%=cls.classId%>/details">
                                <div class="btn btn-outline-success btn-sm btn-block">Go to class details</div>
                              </a>
                            </div>
                          <%}else{%>
                            <div class="m-2">
                              <div class="btn btn-outline-secondary btn-sm btn-block">Log-in to see details</div>
                            </div>
                          <%}%>
                        </div>
                      </div>
                    <%})%>
                  <%}%> 
                <%}else{%>
                    <%if(!batchDetails.lastDayActivities.classes.length){%>
                      <div class="btn btn-lg btn-block btn-info">No classes had been taken!!</div>
                    <%}else{%>
                      <%batchDetails.lastDayActivities.classes.forEach((cls)=>{%>
                        <div class="activity-link-container-small border ">
                          <div class="item-container">
                            <span class=" d-block bolder text-warning text-center"><strong><%=cls.subject%></strong></span>
                          </div>
                          <div class="class-text-container bolder">
                            <p ><strong> Period : <%=cls.period%></strong></p>
                            <p ><strong> Timing : <%=cls.timing%></strong></p>
                            <p style="margin-bottom:.4rem;"><strong> Professor : <%=cls.professor.userName%></strong></p>
                            <%if(user){%>
                              <div class="m-2">
                                <a href="/class/<%=cls.classId%>/details">
                                  <div class="btn btn-outline-success btn-sm btn-block">Go to class details</div>
                                </a>
                              </div>
                            <%}else{%>
                              <div class="m-2">
                                <div class="btn btn-outline-secondary btn-sm btn-block">Log-in to see details</div>
                              </div>
                            <%}%>
                          </div>
                        </div>
                      <%})%>
                    <%}%> 
                <%}%>
              </div>
          </div>
        </div>

        <div class="col-lg-5">
          <div class="item-container">
            <div >
              <strong ><i class="fas fa-users"></i> All Students (<%=batchDetails.allPresentStudents.length%>)</strong>
            </div>
            <hr>
            <%if(batchDetails.allPresentStudents.length==0){%>
              <div class="btn btn-lg btn-info btn-block">No student added!!</div>
            <%}else{%>
              <div class="container-scroll" style="max-height: 28rem;overflow: scroll;">
              <%batchDetails.allPresentStudents.forEach((student)=>{%>
                <li class="outerBGcolor list-group-item  d-flex align-items-center">
                  <div class="mr-auto d-flex align-items-center"> 
                    <div class="mr-2">
                        <img class="member-avatar"  src="/image/<%=student.regNumber%>" alt="">
                    </div>
                    <div>
                        <span class="item-text d-block"><strong>Name : </strong><%=student.userName%></span>
                    </div>
                  </div>
                  <%if(batchDetails.isBatchRunning && user){%>
                    <%if(presentStudentsRegs.includes(student.regNumber)){%>
                      <div class="badge-pill badge-success">Present</div>
                    <%}else{%>
                      <div class="badge-pill badge-secondary">Absent</div>
                    <%}%>
                  <%}%>
                </li>
              <%})%>
            </div>
            <%}%>
          </div>
        </div>
      </div>
      <hr>
      <div class="item-container">
        <div >
          <strong ><i class="fas fa-users"></i> Class Routine</strong>
        </div>
        <hr>
        <%if(!batchDetails.routine){%>
          <div class="btn btn-block btn-info btn-lg">Routine has not uploaded yet!!</div>
        <%}else{%>
          <table class="table table-bordered text-center">
            <tbody>
              <%if(batchDetails.routine.slotsPerDay=="3"){%>
                <tr>
                  <th rowspan="2" scope="col">Classes</th>
                  <th scope="col">1st Class</th>
                  <th scope="col">2nd Class</th>
                  <th scope="col">3rd Class</th>
                </tr>
              <%}else if(batchDetails.routine.slotsPerDay=="4"){%>
                <tr>
                  <th rowspan="2" scope="col">Classes</th>
                  <th scope="col">1st Class</th>
                  <th scope="col">2nd Class</th>
                  <th scope="col">3rd Class</th>
                  <th scope="col">4rd Class</th>
                </tr>
              <%}%>
              <tr>
                <%batchDetails.routine.timings.forEach((time)=>{%>
                  <th ><%=time%></th>
                <%})%>
              </tr>

              <%batchDetails.routine.activities.forEach((day,index)=>{%>
                <tr>
                  <th rowspan="2" scope="col"><%=days[index]%></th>
                  <%day.subjects.forEach((subject)=>{%>
                    <td><%=subject%></td>
                  <%})%>
                </tr>
                <tr>
                  <%day.professors.forEach((professor)=>{%>
                    <td><%=professor.userName%></td>
                  <%})%>
                </tr>
              <%})%>
            </tbody>
          </table>
        <%}%>
      </div>
      <hr>
      <div class="colored-container  bolder">
        <div >
          <strong><i class="fas fa-user-tie"></i> Batch Details</strong>
        </div>
        <hr>
        <div class="row">
          <div class="col-lg-6">
            <p><strong>Department Name : <%=batchDetails.departmentName%></strong></p>
            <p><strong>Department Code : <%=batchDetails.sessionId.slice(4,9)%></strong></p>
          </div>
          <div class="col-lg-6">
            <p><strong>Session Year : <%=batchDetails.sessionYear%></strong></p>
            <p><strong>Semester : <%=batchDetails.semesterStatus%></strong></p>
          </div>
          <%if(user){%>
            <div class="col-12">
              <a href="/session-batch/<%=batchDetails.sessionId%>/activity-details">
                <div class=" btn btn-md btn-block btn-warning"><strong>See All Activity Details</strong> </div>
              </a>
            </div>
          <%}%>
          
        </div>
        
      </div>
  </div>
  <div class="col-lg notVisibleOnCollapse" >
  </div>
</div>

<%- include('includes/footer') %>