<%- include('includes/header') %>
<%- include('includes/flash') %>
<div >
    <h1 class="text-center mt-5">This is student home page!!</h1>
    <h2 class="text-center">Student name is : <%=user.userName%></h2>
    <div class="logIn-form-container">
        <%if(!todaysClasses.length){%>
            <div class="btn btn-block btn-info btn-lg">You have no class today!</div>
        <%}%>

        <%todaysClasses.forEach((todayClass)=>{%>
            <a href="/class/<%=todayClass.classId%>/details" style="text-decoration: none;">
                <div class="m-2" style="background-color: antiquewhite;">
                  <div class="text-left" style="padding-bottom: 5px;padding-top: 10px;padding-left: 2px;">
                    <h5 class="bolder text-center"><strong> Period : <%=todayClass.period%></strong></h5>
                    <h5 class="bolder text-center"><strong> Subject : <%=todayClass.subject%></strong></h5>
                    <h5 class="bolder text-center"><strong> Professor : <%=todayClass.professorName%></strong></h5>
                    <h5 class="bolder text-center"><strong> Time : <%=todayClass.timing%></strong></h5>
                    <div class="btn btn-block btn-info btn-md">Go to class for attendence</div>
                </div>
                </div>
            </a>
        <%})%>
    </div>
</div>
<hr>

<%- include('includes/footer') %>