<%- include('includes/header') %>
<%- include('includes/flash') %>
<h3 class="text-center">Department All Activities Page</h3>
<hr>
<div class="container">
  <p><i class="fas fa-map-marker-alt"></i><strong> Date Check1 - </strong> <%= date.getDate() %>/<%= date.getMonth() + 1 %>/<%= date.getFullYear() %></p>
  <p><i class="fas fa-map-marker-alt"></i><strong> Date Check2 - </strong> <%= date.getDate() %> <%=date.toLocaleString('default', { month: 'long' }) %> , <%= date.getFullYear() %></p>
  <p><i class="fas fa-map-marker-alt"></i><strong> Date Check3 - </strong> <%= date.getDate() %> <%=date.toLocaleString('default', { month: 'short' }) %> , <%= date.getFullYear() %> at <%=date.getHours()%>:<%=date.getMinutes()%></p>  
</div>
<hr>
<h3 class="text-center">Session Batch All Activities Page</h3>
<hr>

<hr>
<h3 class="text-center">Students All Activities Page</h3>
<hr>

<hr>
<h3 class="text-center">Professor All Activities Page</h3>
<hr>







<%- include('includes/footer') %>